<nav
  class="navbar navbar-expand-lg"
  data-bs-theme="dark"
  style="background-image: linear-gradient(to right, #2f4159, #a7c1d9)"
>
  <div class="container-fluid" style="font-size: medium">
    <a #menu class="navbar-brand active" routerLink="/" (click)="removeClass()">
      <!-- <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon> -->
      <mat-icon>flight</mat-icon>
      <!-- RK TRAVELS -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-center">
          <a
            #services
            class="nav-link"
            routerLink="/services"
            (click)="checkClass('service')"
            >Services</a
          >
        </li>
        <li class="nav-item text-center">
          <a
            #about
            class="nav-link"
            routerLink="/about"
            (click)="checkClass('about')"
            >About</a
          >
        </li>
        <li class="nav-item text-center">
          <a
            #contact
            class="nav-link"
            routerLink="/contact"
            (click)="checkClass('contact')"
            >Contact</a
          >
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="mx-1 mb-1 text-center">
          <button mat-raised-button color="primary">Sign In</button>
          <!-- <button mat-stroked-button color="primary">Basic</button> -->
          <!-- <button
              type="button"
              class="btn bg-transparent border text-white rounded-pill"
            >
              Sign In
            </button> -->
          <!-- <div class="example-button-container">
              <button
                mat-fab
                color="primary"
                aria-label="Example icon button with a delete icon"
              >
                Sign In
              </button>
            </div> -->
        </li>
        <li class="text-center">
          <button mat-raised-button color="primary">Get Started</button>
          <!-- <button type="button" class="btn btn-primary rounded-pill">
              Get Started
            </button> -->
        </li>
        <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
      </ul>
    </div>
    <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
