<nav class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg" data-bs-theme='dark'>
  <div
    class="container-fluid"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <a #menu class="navbar-brand active" routerLink="/" (click)="removeClass()">
      <!-- <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon> -->
      <mat-icon>flight</mat-icon>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a #services class="nav-link" routerLink="/services" (click)="checkClass('service')">Services</a>
        </li>
        <li class="nav-item">
          <a #about class="nav-link" routerLink="/about" (click)="checkClass('about')">About</a>
        </li>
        <li class="nav-item">
          <a #contact class="nav-link" routerLink="/contact" (click)="checkClass('contact')">Contact</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
